.folio-dropdown {
  @include center;
  @include br2;
  @include clickable;
  @include transition-colors;
  @include bg-tertiary-black;
  @include p1;
  @include px3;

  flex-direction: column;
  position: relative;

  .folio-dropdown-item {
    @include center;
    @include clickable;
    @include primary-font;
    @include secondary-white;
    @include t11;
    @include semi-bold;
    @include p1;

    width: 100%;

    &--close span {
      color: rgb(225, 97, 23);
    }
  }

  .folio-dropdown-title {
    @include center;
    width: 100%;

    @include center;
    @include clickable;
    @include primary-font;
    @include secondary-white;
    @include t11;
    @include semi-bold;
  }

  .folio-dropdown-item:not(.folio-dropdown-item--close):hover {
    @include bg-black;
    border-radius: 1em;
  }

  .folio-dropdown-item span {
    &:hover {
      opacity: 0.6;
    }
  }

  span {
    @include primary-font;
    @include secondary-white;
    @include t11;
    @include semi-bold;
  }

  &--medium {
    @include px3;
    padding: 0.5em;
    width: 20em;

    span {
      @include t10;
    }
  }
}
