.folio-project {
  @include br3;
  @include p2;
  @include bg-secondary-black;
  border: none;

  display: flex;
  flex-direction: column;

  width: 21.2rem;

  &-header {
    @include br2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--img {
      @include center;
      @include br2;
      @include bg-black;
      width: 6rem;
      height: 6rem;

      img {
        @include br2;

        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

    &--img--gradient {
      @include center;
      @include br2;
      @include bg-black;
      width: 6rem;
      height: 6rem;

      background: linear-gradient(
        90deg,
        hsl(229, 17%, 12%),
        hsl(240, 11%, 27%),
        hsl(229, 17%, 12%)
      );

      background-size: 200%;
      animation: loader 1s infinite reverse;

      img {
        @include br2;

        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

    &--detials {
      width: 8rem;
      height: 6rem;
    }

    &--stack {
      @include center;
      width: 6rem;
      height: 6rem;

      &--small {
        @include mt1;
        margin-bottom: 0em;
      }
    }
  }

  &-body {
    @include pt2;
    @include pb1;
    @include t11;
    @include primary-font;
    @include secondary-white;
    @include lhx3;
    @include medium;
    text-align: left;
    max-height: 7em;
  }

  &-footer {
    @include pt3;
    @include center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.folio-project-media {
  @include pt1;
  @include center;

  flex-direction: row;
  justify-content: space-between;
  &--img {
    @include no-drag;
    @include br2;

    img {
      @include br2;
      @include no-drag;

      overflow: hidden;
      display: flex;

      max-width: inherit;
      max-height: inherit;
      height: inherit;
      width: inherit;
      object-fit: cover;

      height: 4rem;
      width: 6rem;
    }
  }

  &--button {
    @include bs1;
    @include primary-font;
    @include t11;
    @include bold;
    @include center;
    @include secondary-white;
    @include br2;
    @include clickable;

    background-color: #233242;
    border: none;

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    background-color: #233242;
    border: none;

    &:active:not(.folio-project-media--button--disabled) {
      @include transition-press;
      border: 1px dashed $tertiary-white;
    }

    &:hover:not(.folio-project-media--button--disabled) {
      @include transition-opacity;
    }

    &:active {
      @include transition-press;
      border: 1px dashed $tertiary-white;
    }

    &:hover {
      @include transition-opacity;
    }

    flex-direction: column;

    height: 3.7rem;
    width: 6rem;

    &--count {
      @include t11;
      @include bold;
      @include white;
      @include secondary-white;
      @include lhx1;
    }

    &--text {
      @include t12;
      @include semi-bold;
      @include white;
      @include secondary-white;
      @include lhx1;
    }

    &--users {
      @include primary-font;
      @include t11;
      @include bold;
      @include center;
      @include secondary-white;
      @include clickable;

      border: none;

      flex-direction: column;

      height: 3.7rem;
      width: 14%;

      &--text {
        @include t12;
        @include semi-bold;
        @include white;
        @include tertiary-white;
        @include lhx1;

        &--count {
          @include t10;
          @include bold;
          @include white;
          @include secondary-white;
          @include lhx1;
        }
      }
    }

    &--main {
      @include bs1;
      @include primary-font;
      @include t11;
      @include bold;
      @include center;
      @include secondary-white;
      @include br2;
      @include clickable;

      &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      background-color: #233242;
      border: none;

      &:active:not(.folio-project-media--button--main--disabled) {
        @include transition-press;
        border: 1px dashed $tertiary-white;
      }

      &:hover:not(.folio-project-media--button--main--disabled) {
        @include transition-opacity;
      }

      flex-direction: column;

      height: 3.7rem;
      width: 45%;

      &--count {
        @include t11;
        @include bold;
        @include white;
        @include secondary-white;
        @include lhx1;
      }

      &--text {
        @include t12;
        @include semi-bold;
        @include white;
        @include secondary-white;
        @include lhx1;
      }
    }
  }
}

.folio-project--small {
  width: 16rem;

  .folio-project-header {
    &--img {
      width: 5rem;
      height: 5rem;
    }
    &--detials {
      width: 6rem;
      height: 5.2rem;
    }
    &--stack {
      width: 5rem;
      height: 5rem;
    }
  }

  .folio-project-header--detials {
    &--title {
      margin-bottom: -6px;
      @include t10;
    }

    &--url {
      display: flex;
      @include t12;
      @include medium;
      align-items: center;

      flex-direction: row;
      width: 13em;
    }

    &--date {
      margin-bottom: 20px;
      margin-top: 7px;
      @include t13;
    }
  }

  .folio-project-body {
    @include t12;
    @include lhx2;
    @include medium;
    max-height: 8em;
    letter-spacing: 0.05em;
  }

  .folio-project-media {
    &--img {
      img {
        @include br2;
        @include no-drag;

        overflow: hidden;
        display: flex;

        max-width: inherit;
        max-height: inherit;
        height: inherit;
        width: inherit;
        object-fit: cover;

        height: 3rem;
        width: 5rem;
      }
    }

    &--button {
      height: 2.7rem;
      width: 5rem;
      border-radius: 0.7em;

      &--users {
        width: 13%;
      }

      &--count {
        @include t11;
      }

      &--text {
        @include t13;
        @include bold;
        margin-top: 0.4em;
      }

      &--main {
        height: 2.7rem;
        border-radius: 0.7em;

        &--count {
          @include t11;
        }

        &--text {
          @include t13;
          @include bold;
        }
      }
    }
  }
}

.folio-project-header--img img {
  @include no-drag;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.folio-project-header--detials {
  @include pl1;
  @include pr1;
  @include primary-font;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  &--title {
    @include t9;
    @include bold;
    @include secondary-white;
    margin-bottom: -10px;
  }

  &--url {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    @include t12;
    @include semi-bold;
    @include secondary-white;

    a {
      color: rgb(175, 175, 175);
      text-decoration: none;
    }

    &:hover {
      @include transition-opacity;
    }
  }

  &--date {
    @include t12;
    @include semi-bold;
    @include black;
    @include tertiary-white;
  }
}

@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}
