.folio-button {
  @include br2;
  @include bold;
  @include t11;
  @include center;
  @include tertiary-white;
  @include db1;
  @include transition-colors;
  @include transition-opacity;

  &:not(.folio-button--disabled) {
    cursor: pointer;
  }

  &.folio-button--disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:active {
    @include transition-press;
  }
}

.folio-button:hover {
  @include op6;
}

.folio-button--light {
  @include bg-white;
  @include black;
  @include px3;
  @include py2;
}

.folio-button--dark {
  @include db2;
  @include bg-white;
  @include tertiary-white;
  @include px3;
  @include py2;
  background-color: transparent;
}

.folio-button--small {
  @include lhx4;
  @include px1;
  @include t12;
  @include br1;

  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  height: 2rem;
}

.folio-button--medium {
  @include br1;
  @include lhx3;
  @include px2;

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  min-height: 2.3rem;
}

.folio-button--large {
  @include lhx4;
  @include py3;
  @include px3;
  @include t8;

  height: 3.5rem;
}

.folio-button__icon {
  @include center;
  @include mr1;
}
