$black: #0e141b;
$secondary-black: #18222c;
$tertiary-black: #1e262f;

$white: #f2f5f7;
$secondary-white: #d3d3d3;
$tertiary-white: #7e8c9a;

$success: #59ce8f;
$error: #f96666;
$warning: #ffff00;
$casual: #2772bd;

@mixin bg-white {
  background-color: $secondary-white;
}

@mixin bg-white {
  background-color: $white;
}

@mixin bg-white {
  background-color: $white;
}

@mixin bg-secondary-white {
  background-color: $secondary-white;
}

@mixin bg-tertiary-white {
  background-color: $tertiary-white;
}

@mixin bg-black {
  background-color: $black;
}

@mixin bg-secondary-black {
  background-color: $secondary-black;
}

@mixin bg-tertiary-black {
  background-color: $tertiary-black;
}

@mixin white {
  color: $white;
}

@mixin secondary-white {
  color: $secondary-white;
}

@mixin tertiary-white {
  color: $tertiary-white;
}

@mixin black {
  color: $black;
}

@mixin secondary-black {
  color: $secondary-black;
}

@mixin tertiary-black {
  color: $tertiary-black;
}

@mixin fill-white {
  fill: $white;
}

@mixin fill-black {
  fill: $black;
}
