$lh-base: 0.4rem;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@mixin primary-font {
  font-family: "Poppins", sans-serif;
}

@mixin light {
  font-weight: 300;
}

@mixin extra-small {
  font-weight: 200;
}

@mixin small {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400;
}

@mixin medium {
  font-weight: 500;
}

@mixin semi-bold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 700;
}

@mixin extra-bold {
  font-weight: 800;
}

@mixin t1 {
  font-size: 2.8rem;
}

@mixin t2 {
  font-size: 2.2rem;
}

@mixin t3 {
  font-size: 2rem;
}

@mixin t4 {
  font-size: 1.8rem;
}

@mixin t5 {
  font-size: 1.6rem;
}

@mixin t6 {
  font-size: 1.5rem;
}

@mixin t7 {
  font-size: 1.4rem;
}

@mixin t8 {
  font-size: 1.3rem;
}

@mixin t9 {
  font-size: 1.2rem;
}

@mixin t10 {
  font-size: 1.1rem;
}

@mixin t11 {
  font-size: 0.9rem;
}

@mixin t12 {
  font-size: 0.8rem;
}

@mixin t13 {
  font-size: 0.6rem;
}

@mixin lhx1 {
  line-height: 0.9rem;
}

@mixin lhx2 {
  line-height: 2.5 * $lh-base;
}

@mixin lhx3 {
  line-height: 3 * $lh-base;
}

@mixin lhx4 {
  line-height: 4 * $lh-base;
}

@mixin lhx5 {
  line-height: 5 * $lh-base;
}
