@import "./fonts.scss";
@import "./border.scss";
@import "./color.scss";
@import "./align.scss";
@import "./padding.scss";
@import "./transitions.scss";
@import "./margin.scss";
@import "./util.scss";

@import "../components/button/button.scss";
@import "../components/icon/icon.scss";
@import "../components/techstack/techstack.scss";
@import "../components/label/label.scss";
@import "../components/project/project.scss";
@import "../components/avatar/avatar.scss";
@import "../components/contact/contact.scss";
@import "../components/blog/blog.scss";
@import "../components/dropdown/dropdown.scss";
@import "../components/search/search.scss";
@import "../components/experience/experience.scss";
@import "../components/modal/modal.scss";
@import "../components/callout/callout.scss";
@import "../components/tooltip/tooltip.scss";

* {
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
