@mixin no-drag {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin clickable {
  cursor: pointer;
}

@mixin image-fit {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

@mixin default-cursor {
  cursor: default;
}
