@keyframes fadein {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bg-color {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(#1e262f, 0.6);
  }
}

.folio-modal {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-color 0.1s;

  &-container {
    @include br2;
    @include px3;
    @include py3;

    animation: fadein 0.2s;

    width: 40em;
    background-color: #0e141b;
    max-width: 90vw;

    &--max {
      width: auto;
    }
    &--small {
      width: 396px;
    }
    &--medium {
      width: 568px;
    }
    &--large {
      width: 768px;
    }
  }

  &-header {
    @include center;
    @include primary-font;
    @include secondary-white;
    @include semi-bold;
    @include t10;
    @include py2;

    flex-direction: column;
    &-subtitle {
      @include t11;
      @include tertiary-white;
      @include regular;
      @include mt1;

      line-height: 1.2em;
      text-align: center;
    }

    &-close {
      @include center;
      justify-content: flex-end;
      width: 100%;
      height: 2em;

      div:hover {
        @include clickable;
        opacity: 0.6;
      }
    }
  }

  &-body {
    @include center;
  }

  &-footer {
    @include center;
    @include pt3;
    justify-content: flex-end;
  }
}

.footer {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .folio-modal {
    align-items: end;
  }

  .folio-modal-container {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .folio-modal-body {
    max-height: 30em;
    overflow-y: scroll;
  }
}
