.folio-contact {
  @include center;
  gap: 0.8em;
  width: fit-content;
  flex-direction: row;
}

.folio-contact--item {
  @include center;
  @include clickable;

  flex-direction: row;

  &:hover {
    @include transition-press;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
