.folio-search {
  @include center;
  @include br2;
  @include clickable;
  @include transition-opacity;
  @include transition-colors;
  @include bg-tertiary-black;

  &--dashed {
    outline: 1px dashed #7e8c9a;
  }

  &-container {
    @include center;
    @include primary-font;
    @include p1;
    @include px2;
    @include br2;
    width: 100%;
    justify-content: space-between;
  }

  &-input {
    @include semi-bold;
    @include primary-font;
    @include br2;
    @include t11;
    @include secondary-white;

    background-color: transparent;
    width: 90%;
  }

  input {
    border: 0;
    outline: 0;
  }
  input:focus {
    outline: none !important;
  }

  &--medium {
    padding: 0.5px;
    @include px3;
    width: 20em;

    input {
      @include t10;
    }
  }
}

.folio-search:focus {
  border: 1px solid $white;
}
