.folio-blog {
  @include br2;
  @include center;
  @include bg-tertiary-black;
  @include white;
  @include p3;
  @include primary-font;
  @include lhx3;
  @include clickable;

  height: max-content;

  &--small {
    width: 20rem;
    @include lhx3;
    .blogpost_main__title {
      @include t11;
    }
    .blogpost_main__info {
      padding: 0;
      @include mt2;
      background-color: red;
    }
    .blogpost_main__description {
      padding: 0;
      @include mt2;
    }
  }

  &--medium {
    width: 30rem;
    @include lhx3;
    .blogpost_main__title {
      @include t11;
    }
    .blogpost_main__info {
      padding: 0;
      @include mt2;
    }
    .blogpost_main__description {
      padding: 0;
      @include mt2;
    }
  }

  &:hover {
    @include hover(1, 0.3s, 0.9);
  }

  &_main {
    &__top {
      display: flex;
      @include mt1;
      height: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    &__views {
      display: flex;
      flex-direction: row;
      height: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 3em;
      gap: 0.3em;

      &__count {
        @include tertiary-white;
        @include semi-bold;
      }
    }

    &__title {
      @include white;
      @include semi-bold;
      @include t10;
      @include lhx4;
      text-align: start;
    }

    &__info {
      @include white;
      @include t11;
      @include bold;
      @include secondary-white;

      margin-top: 0.6em;
      display: flex;
      gap: 1em;
      padding: 0;
    }

    &__description {
      @include tertiary-white;
      @include t11;
      @include py1;
      @include medium;
      text-align: start;
    }

    &__footer {
      @include center;
      @include mt1;
      flex-direction: row;
      justify-content: space-between;
      gap: 1em;

      &:hover {
        @include transition-opacity;
        opacity: 1;
      }
    }
  }
}
