.folio-experience {
  @include white;
  @include primary-font;
}

.conatiner {
  @include white;
  @include p2;
  @include br2;
  @include db3;

  justify-content: flex-start;
  flex-direction: column;
}

.experience {
  &_header {
    display: flex;

    height: 6em;
    justify-content: space-between;
    flex-direction: row;

    &__image {
      height: 100%;
      width: 6em;

      margin-right: 0.5em;

      img {
        @include br2;
        @include dbo2;
        @include no-drag;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;

      &__title {
        @include t10;
        @include bold;
      }

      &__company {
        @include t8;
        @include semi-bold;
        @include secondary-white;

        &__link {
          @include t12;
          @include regular;
          @include clickable;
        }

        &__link:hover {
          opacity: 0.5;
        }
      }

      &__duration {
        @include t11;
        @include semi-bold;
      }
    }

    &__container {
      @include mr2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      min-width: 17em;
    }

    &__technologies {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 70%;

      &__title {
        @include t11;
        @include semi-bold;
      }
      &__items {
        @include center;
        @include mb1;
        justify-content: flex-start;
        flex-direction: row;
        height: 1em;
        gap: 1em;
      }

      &__description {
        @include secondary-white;
        @include t11;
        @include regular;
        @include center;
        @include lhx3;
        letter-spacing: 0.1em;
      }

      &__items > div {
        @include center;
        @include db1;
        @include br1;
        @include p1;
        @include t13;
        @include regular;
        @include secondary-white;
        letter-spacing: 0.15em;
      }

      &__item {
        @include center;
        height: 100%;

        &__icon {
          @include mr1;
          @include t12;
        }

        span {
          @include ml1;
        }
      }
    }
  }

  &_description {
    @include semi-bold;
    @include mt2;
  }

  &_products {
    ul {
      margin: 0;
    }

    li {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  .experience_header__technologies__description {
    @include t13;
    @include lhx1;
  }
}

@media only screen and (max-width: 600px) {
  .experience_header__technologies__description {
    @include t13;
    @include lhx1;
  }
}
