.folio-experience {
  @include white;
  @include primary-font;
  @include default-cursor;
}

.conatiner {
  @include white;
  @include p2;
  @include br3;
  @include bg-secondary-black;

  justify-content: flex-start;
  flex-direction: column;
}

.experience {
  &-header {
    display: flex;

    height: 6em;
    justify-content: space-between;
    flex-direction: row;

    &-image {
      @include br2;

      height: 100%;
      width: 6em;

      margin-right: 1em;

      img {
        @include br2;
        @include dbo2;
        @include no-drag;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }

      &--gradient {
        @include br2;

        height: 100%;
        width: 6em;

        margin-right: 1em;

        img {
          @include br2;
          @include dbo2;
          @include no-drag;
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
        }

        background: linear-gradient(
          90deg,
          hsl(229, 17%, 12%),
          hsl(240, 11%, 27%),
          hsl(229, 17%, 12%)
        );

        background-size: 200%;
        animation: loader 1s infinite reverse;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;

      &-title {
        @include t10;
        @include semi-bold;
        @include lhx5;
      }

      &-company {
        @include t7;
        @include semi-bold;
        @include tertiary-white;
        @include lhx5;

        a {
          text-decoration: none;
          color: inherit;
        }

        a:hover {
          @include transition-press;
        }

        &-link {
          @include t12;
          @include regular;
          @include clickable;
        }

        &-link:hover {
          @include hover(1);
        }
      }

      &-duration {
        @include t11;
        @include semi-bold;
        @include secondary-white;
      }
    }

    &-container {
      @include mr2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      min-width: 17em;
    }

    &-technologies {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 60%;

      &-title {
        @include t11;
        @include semi-bold;
      }
      &-items {
        @include center;
        @include mb1;
        justify-content: flex-start;
        flex-direction: row;
        height: 1em;
        gap: 1em;
      }

      &-description {
        @include secondary-white;
        @include t11;
        @include semi-bold;
        @include center;
        @include lhx3;
        letter-spacing: 0.05em;
      }

      &-items > div {
        @include center;
        @include br1;
        @include p1;
        @include t13;
        @include semi-bold;
        @include bg-tertiary-black;

        letter-spacing: 0.1em;
      }

      &-item {
        @include center;
        height: 100%;

        &-icon {
          @include mr1;
          @include t12;
        }

        span {
          @include ml1;
          font-size: 0.7rem;
        }
      }
    }
  }

  &-description {
    @include semi-bold;
    @include mt2;
  }

  &-products {
    ul {
      margin: 0;
    }

    li {
      margin: 0;
    }
  }
}

@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}

@media only screen and (max-width: 940px) {
  .experience-header-technologies-description {
    @include lhx2;
  }
}

@media only screen and (max-width: 800px) {
  .experience-header-technologies-description {
    @include t13;
    @include lhx1;
  }
}

@media only screen and (max-width: 600px) {
  .experience-header-technologies-description {
    @include t13;
    @include lhx1;
  }
}
